body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: 'Raleway', sans-serif;
}

figure {
    margin: 0;
}

.container {
    display: flex;
    background-color: white;
    width: 1605px;
    margin: 0 auto;
    margin-top: 55px;
    height: 900px;
}

.wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homepage-imageContainer {
    overflow: hidden;
}

.homepage-image {
    width: 802px;
    position: relative;
    top: -35px;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: .7;
    font-size: 40px;
    letter-spacing: 6px;
    margin-bottom: 70px;
    font-weight: bold;
}

.header p {
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 5px;
    color: #333;
}

.header {
    margin-bottom: 100px;
}

ol {
    list-style: none;
}